<% content_for :title do %>
  <h2 class="center"><%= @game_board.title %></h2>
<% end %>

<header>
  <nav class="row">
    <div class="small-12 columns">
      <form class="custom">
        <label class="center" for="customDropdown"><h2>Serect Ah Game</h2></label>
        <select id="customDropdown">
          <% @game_boards.each do |game_board| %>
            <option value="<%= game_board_path(game_board.id) %>" <%= "selected" if @game_board.id == game_board.id %>><%= link_to game_board.title, game_board_path(game_board.id) %></option>
          <% end %>
        </select>
      </form>
    </div>
  </nav>
</header>
<div class="row">
	<div class="small-12 columns">
		<ol class="lerdehrberd streetfighter sortable">
			<% @game_board.sorted_entries.each_with_index do |entry, index| %>
		  <li class="row player"><h3><%= "##{index + 1}"%> <%= entry.display_name %></h3></li>
		<% end %>
		</ol>
		<h2>Add yourself to this board:</h2>
		<%= form_tag('/game_board_entries', method: :post) do %>
		  <%= label_tag(:display_name, "Display Name:") %>
		  <%= text_field_tag(:display_name) %>
		  <%= hidden_field_tag(:game_board_id, @game_board.id) %>
		  <%= submit_tag("Add") %>
		<% end %>
	</div>
</div>
