<% content_for :title do %>
  <%= @game_board.title %>
<% end %>
<p>Leader board:</p>

<header>
  <nav class="row">
    <div class="small-12 columns">
      <form class="custom" action="game_boards" method="get">
        <label class="center" for="customDropdown"><h2>Serect Ah Game</h2></label>
        <select id="customDropdown" name="id">
          <% @game_boards.each do |game_board| %>
            <option value="<%= game_board_path(game_board.id) %>" <%= "selected" if @game_board.id == game_board.id %>><%= link_to game_board.title, game_board_path(game_board.id) %></option>
          <% end %>
        </select>
        <input type="submit" value="Go" id="submit" />
      </form>
    </div>
  </nav>
</header>

<ul>
<% @game_board.sorted_entries.each do |entry| %>
  <li><%= entry.display_name %></li>
<% end %>
</ul>

<h2>Add yourself to this board:</h2>
<%= form_tag('/game_board_entries', method: :post) do %>
  <%= label_tag(:display_name, "Display Name:") %>
  <%= text_field_tag(:display_name) %>
  <%= hidden_field_tag(:game_board_id, @game_board.id) %>
  <%= submit_tag("Add") %>
<% end %>

<p><%= link_to 'Board List', root_path %></p>