<!DOCTYPE html>
<html>
<head>
  <title>Lerdehrberd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="/js/custom.modernizr.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<header>
	<nav class="row">
		<div class="small-12 columns">
			<h1 class="center">Lerdehrberd</h1>
			<form class="custom">
			  <label class="center" for="customDropdown"><h2>Serect Ah Game</h2></label>
			  <select id="customDropdown">
			    <option>Streht Ferter</option>
			    <option>En Hayche El 2013</option>
			  </select>
			</form>
		</div>
	</nav>
</header>

<div class="row">
	<div class="small-12 columns">
		<h2 class="center">Street Fighter 2 Rankings</h2>
	</div>
</div>

<section class="sortable">
	<article class="row player">
		<div class="small-12 columns">
			<header>
				<h3>Stephen Phung</h3>
			</header>
		</div>
	</article>
	<article class="row player">
		<div class="small-12 columns">
			<header>
				<h3>Kyle Demeule</h3>
			</header>
		</div>
	</article>
	<article class="row player">
		<div class="small-12 columns">
			<header>
				<h3>Jason LaRiviere</h3>
			</header>
		</div>
	</article>
</section>

<%= yield %>

<script>
  $(document).foundation();
  document.write('<script src=/js/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
  document.write('<script src=/js/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>

</body>

</html>
